{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<!-- body div -->
<div class="col-md-10">
        <div class="row">
                <div class="col-md-6">
                        <h2><i class="bi bi-shop"></i> Store Name: D mart</h2><hr>
                        <h5>📍 Address: D mart, sadasundar, next to mahavir heights, sector 7, </h5>
                        <h5 style="margin-left: 105px;">ghansoli, navi mumbai, pincode-400701</h5><hr>
                        <h5>📞 Phone no. : +91 7738866798 / 9819217967</h5> <hr>
                        <h5>📧 Email: Support@grocerystore.in</h5><hr>
                        <h5>🕒 Working Time: </h5>
                        <h6 style="margin-left: 82px;">Monday – Saturday: 10:00 AM to 11:00 PM</h6>
                        <h6 style="margin-left: 82px;">Sunday: 10:00 AM to 11:00 PM</h6>
                </div>
                <div class="col-md-6 map-size">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241289.13795576655!2d72.76909107812506!3d19.1013912000619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c0b67cde1c33%3A0xc8c68cb6bb4c1a71!2sDMart%20Ghansoli!5e0!3m2!1sen!2sin!4v1738902189745!5m2!1sen!2sin"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                
        </div>

</div>
{% endblock 'main' %}