{% load static %}
<div class="row">
    <div class="col-md-3 back-color">
        <h4 class="foot">Address :</h4>
        <p style="padding: 10px;"><strong>Sadasundar, next to Mahavir Heights, Sector 5, Sector 7, Ghansoli, Navi Mumbai,
            Maharashtra 400701</strong></p> <br><br>
            <div class="row" style="background-color: rgb(171, 233, 176); padding-left: 10px;">
                <h4 class="foot">Follow Us</h4>
                <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook" style="color: black;"></i></a>
                <a href="https://www.instagram.com/storysteler1/" target="_blank" ><i class="bi bi-instagram" style="color: black;"></i></a> 
                <a href="https://www.twitter.com" target="_blank"><i class="bi bi-twitter" style="color: black;"></i></a> 
                <a href="https://www.linkedin.com/in/saurabh-shelar-664636279/" target="_blank"><i class="bi bi-linkedin" style="color: black;"></i></a>
            </div>
    </div>
    <div class="col-md-3 back-color">
        <h4 class="foot">Quick Links</h4>
        <strong><a class="ftt" href="/">Home &nbsp;</a><br>
        <a class="ftt" href="/Contact_Us">Contact_Us &nbsp;</a><br>
        <a class="ftt" href="">Orders &nbsp;</a><br>
        <a href="/Products" class="ftt">All &nbsp;</a><br>
        <a href="/filter-by-cat/Fruits & Vegies" class="ftt">Fruits & Vegies &nbsp;</a><br>
        <a href="/filter-by-cat/Snacks" class="ftt">Snacks &nbsp;</a><br>
        <a href="/filter-by-cat/Beverages" class="ftt">Beverages &nbsp;</a><br>
        <a href="/filter-by-cat/Soft_Drink" class="ftt">Soft_Drinks &nbsp;</a><br>
        <a href="/filter-by-cat/Masala" class="ftt">Masala &nbsp;</a><br>
        <a href="/filter-by-cat/Oil & Ghee" class="ftt">Oil & Ghee &nbsp;</a><br>
        <a href="/filter-by-cat/Frozen_food" class="ftt">Frozen_food &nbsp;</a><br>
        <a href="/filter-by-cat/Foodgrains" class="ftt">Foodgrains &nbsp;</a><br>
        <a href="/filter-by-cat/Personal_Care" class="ftt">Personal_Care &nbsp;</a><br>
        <a href="/filter-by-cat/Cleanings" class="ftt">Cleanings &nbsp;</a></strong>
    </div>
    <div class="col-md-3 back-color">
        <h4 class="foot">Contact Us</h4>
        <strong>
        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" class="ftt" target="_blank"><i
                class="bi bi-envelope"></i>
            Thegrocery@gmail.in</a>
        
        <p style="padding: 10px;"><i class="bi bi-telephone"></i> 7738866798</p>
        </strong>
    </div>
    <div class="col-md-3 back-color">
        <h4 class="foot">Newsletter</h4>
        <strong>
        <p class="">Enter your email for new offers</p>
        </strong>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="email" placeholder="Enter Your Email" aria-label="email">
            <button class="btn btn-success" type="submit"><i class="bi bi-check-square-fill"></i></button>
        </form>
    </div>
</div>
</div>
<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>