{% extends 'base1.html' %}
{% block 'main' %}
<div class="row">
    <div class="llg1">
        <form method="POST" class="col-md-4 mt-3 p-4 mx-auto rounded border shadow" style="margin-bottom: 20px; background-color: rgb(171, 233, 176)">
            {% csrf_token %}
            <h5 class="log mt-4">Reset Password</h5>

            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            {% if message %}
            <div class="alert alert-info">{{ message }}</div>
            {% endif %}

            <div class="form-outline mb-4">
                <label class="form-label">Username</label>
                <input type="text" name="username" class="form-control" value="{{ username|default:'' }}" disabled />
            </div>

            {% if otp_sent %}
            <div class="form-outline mb-4">
                <label class="form-label">OTP</label>
                <input type="text" name="otp" class="form-control" placeholder="Enter a otp that send on your register email" required />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label">New Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter a new password" required />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label">Confirm Password</label>
                <input type="password" name="confirm_password" class="form-control" placeholder="Enter a confirm_password" required />
            </div>
            {% endif %}

            <button type="submit" name="action" value="{% if otp_sent %}verify{% else %}send_otp{% endif %}" class="btn btn-primary btn-block">
                {% if otp_sent %}Reset Password{% else %}Send OTP{% endif %}
            </button>
        </form>
    </div>
</div>
{% endblock 'main' %}
