<div class="col-md-2 side-bar" >
    <h4>Categories</h4>
    <hr>
    <a href="/Products" class="side-bar-categories">&nbsp; All &nbsp;</a><br>
    <a href="/filter-by-cat/Fruits & Vegies" class="side-bar-categories">&nbsp; Fruits & Vegies &nbsp;</a><br>
    <a href="/filter-by-cat/Snacks" class="side-bar-categories">&nbsp; Snacks &nbsp;</a><br>
    <a href="/filter-by-cat/Beverages" class="side-bar-categories">&nbsp; Beverages &nbsp;</a><br>
    <a href="/filter-by-cat/Soft_Drink" class="side-bar-categories">&nbsp; Soft_Drinks &nbsp;</a><br>
    <a href="/filter-by-cat/Masala" class="side-bar-categories">&nbsp; Masala &nbsp;</a><br>
    <a href="/filter-by-cat/Oil & Ghee" class="side-bar-categories">&nbsp; Oil & Ghee &nbsp;</a><br>
    <a href="/filter-by-cat/Frozen_food" class="side-bar-categories">&nbsp; Frozen_food &nbsp;</a><br>
    <a href="/filter-by-cat/Foodgrains" class="side-bar-categories">&nbsp; Foodgrains &nbsp;</a><br>
    <a href="/filter-by-cat/Personal_Care" class="side-bar-categories">&nbsp; Personal_Care &nbsp;</a><br>
    <a href="/filter-by-cat/Cleanings" class="side-bar-categories">&nbsp; Cleanings &nbsp;</a>
</div>