.product-detail-card {
    width: 100%;
    padding: 10px;
    margin-left: 10px;
}

.product-image-container {
    height: 500px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.price-section {
    font-size: 1.1rem;
}

.text-decoration-line-through {
    text-decoration: line-through;
}
